.container_financeiro {
    margin: 0;
    padding: 0;
    left: 387px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(red, green, blue, alpha);   
    background-color: beige;
    margin-top: 5em;    
    width: 50%;
    position: relative;
    height: 350px;  
}

.container_lista li {
    padding: 10px;       
}

.container_lista p {
    align-items: center;
    justify-content: center;
    display: flex;
}