.saudacao{
    margin-top: 5px;
    display: flex;    
    flex-direction: column;
    text-align: center;
}

.container_financeiro {
    border-radius: 15px;
    background-color: beige;  
    width: 30%;
    margin-top: 1em;
}

.container_lista li {
    padding: 10px;       
}

.container_lista span{
    padding-top: 1em;
    margin-left: 1em;
 }

.container_h3{
   padding-top: 1em;
   margin-left: 1em;
}

.container_contas{
    border-radius: 15px;
    margin-left: 487px;
    background-color: beige;
    width: 30%;
    margin-top: -231px;
}

.container_contas_h3{
    padding-top: 1em;
    margin-left: 1em;
 }

.container_lista_contas {
   position: relative;      
   display: flex;
   flex-direction: column;   
}

.container_lista_contas li {
    padding: 10px;
}

.container_lista_contas span{
    padding-top: 1em;
    margin-left: 1em;
 }