
  .btnEditar{
    background-color: gray;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btnExcluir{
    background-color: maroon;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo base para a tabela */
.divTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 14px;
  text-align: left;
}

.divTable td, .divTable th {
  padding: 10px;
  border: 1px solid #ddd;
}

.divTable th {
  background-color: #f4f4f4;
  font-weight: bold;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  
}

/* Ajustes ainda mais finos para telas menores, como smartphones */
@media (max-width: 480px) {
  .divTable td, .divTable th {
    padding: 6px;
    font-size: 10px;
  }

  .divTable .btnEditar, .divTable .btnExcluir {
    font-size: 10px;
    padding: 4px 8px;
  }
}