.navbar{
    display: flex;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
    background-color: darkgray;
}

.brand{
    font-size: 1.2em;
}

.brand span{
    font-weight: 900;
    text-transform: uppercase;
}

.links_list{
    display: flex;
    list-style: none;
}

.links_list li {
    margin-right: 1em;
}

.links_list li a {
    padding: .4em .6em;
}

.active{

    color: #fff;
  }

/* Menu Principal */
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Itens do Menu */
  .menuItem {
    display: inline-block;
    position: relative;
    margin: 0 10px;
  }
  
  .menuItem span,
  .menuItem button {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: block;
    cursor: pointer;   
  }
  
  /* Submenu */
  .submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    min-width: 200px;
  }
  
  /* Submenu Itens */
  .submenu li {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
  }
  
  /* Ativar estilo quando o link estiver ativo */
  .active {
    font-weight: bold;
    color: #0056b3;
  }
  
  
  .liOculta{
    display: none !important;
  }

  .menuM {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Itens do Menu */
  .menuItemM {
    display: inline-block;
    position: relative;
    margin: 0 10px;
  }
  
  .menuItemM span,
  .menuItemM button {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: block;
    cursor: pointer;   
  }
  
  /* Submenu */
  .submenuM {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    min-width: 200px;
  }
  
  /* Submenu Itens */
  .submenuM li {
    text-decoration: none;
    color: black;
    padding: 10px;
  }


  @media (max-width: 926px){
    .brand img{
        max-width: 20%;
    }

    .brand {
        font-size: 12px;
        display: none;
    }

    .links_list{
        width: 100%;        
        display: flex;
        height: 20px;
        justify-content: space-between;
        
    }

    .links_list li a {
        padding: 0;
        padding-inline: 5px;
        justify-content: center;
    }
  }

/* Responsividade para telas pequenas */
@media (max-width: 768px) {

nav {
  height: 50px!important;
}

}