.post_detail {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post_detail h2 {
    font-size: 2.2em;
    margin-bottom: .5em;
}

.post_detail li {
    color: #AAA;
    margin-bottom: 1em;
}


.post_row{
    display: flex;
    justify-content: space-around;
    width: 880px;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black ;
    border-left: 1px solid black;
    margin-top: 10px;
}

.post_header {
    font-weight: bold;
    border-bottom: 2px solid #CCC;
    display: flex;
    width: 765px;
    justify-content: space-between;
}

.post_row ul{
  display: flex;
  list-style: none;
  width: 75%;
}

.post_row li {
    color:  #000;
    border-right: 1px solid black;
    width: 240px;
}

.btnExcluir {
    height: 20px;
    width: 100px;
    font-size:  0.9em;
    background-color: maroon;
    border-radius: 5px;
    color: white;
    justify-content: center;
    display: flex;
    margin-top: 5px;
}

.btnEditar {
    height: 20px;
    width: 100px;
    font-size:  0.9em;
    background-color: gray;
    border-radius: 5px;
    color: #000;
    justify-content: center;
    display: flex;
    margin-top: 5px;
}

.post_sub_header{
    display: flex;
    border-bottom: 1px solid;
    border-bottom-color: grey;
    padding: 10px;
    justify-content: space-around;
    width: 880px;  
}

@media (max-width: 926px) {
    .post_detail {
     width: 95%;
    }

    .post_header {
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
        display: none;
    }
            
    .post_row{
        display: flex;
        justify-content: space-around;
        width: 88%;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black ;
        border-left: 1px solid black;
        margin-left: 16px;
    }

    .post_row ul{
        display: block;
    }
    
    .post_row li {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    
    .post_row a {
        width: 40%;
        font-size:  0.8em;
        background-color: #000;
        margin-left: 20px;
    }    
}

/* Estilo base */
.post_detail {
    padding: 20px;
    font-size: 14px;
  }
  
  .post_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .post_header span {
    font-weight: bold;
  }
  
  .post_row {
    margin-bottom: 10px;
  }
  
  /* ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
  }
  
  ul li {
    width: 24%;
    text-align: center;
  }
  
  ul li:nth-child(4) {
    width: auto;
    text-align: right;
  } */
  
  .btn {
    margin-right: 10px;
  }
  
  /* Responsividade para telas pequenas */
  @media (max-width: 768px) {

    ul {
      display: flex;
      padding: 0;
      margin: 0;
      margin-bottom: 15px;
      justify-content: center;
    }
  
    ul li {
      width: 100%;
      text-align: right;
      margin-bottom: 5px;
    }     
}
  
  /* Ajustes para telas menores (como smartphones) */
  @media (max-width: 480px) {
    ul {
        display: flex;
        padding: 0;
        margin: 0;
        margin-bottom: 25px;
        justify-content: center;
      }

      ul li {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
      }  
    
    .post_row ul {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
      }
    
      .post_row ul li {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        display: flex;
      }  

      .post_row{
        display: flex;
        width: 100%;
        margin: 0   ;
      }

      .btnEditar {
        border-radius: 5px;
        background-color: gray;
        text-align: center;
        display: flex;
      }

      .btnExcluir {
        border-radius: 5px;
        background-color: maroon;
        text-align: center;
        display: flex;
      }

      .post_row a {
        text-decoration: none;
        background-color: transparent;
        color: #000;
        font-size: 12px;
      }
  }
  