#root{
  background-color: lightgrey;
  height: 800px;
}

.topo{
  background-color: darkgray;
}

.topo img{
  max-width: 10%;
}

.finances{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 5px;
  display: block;
  justify-content: center;
  margin-right: 20px;
}

.form{
  justify-content: center;
  display: grid;
  align-items: center;
  padding: 100px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.486);   
  border-radius: 20px;
  background-color:lightslategrey ;
  width: 500px;
  margin-left: 430px;
  margin-top: 150px;
}

.inEmail{
  border-radius: 10px;
  width: 250px;
  margin-bottom: 15px;
  height: 25px;
}

.inPass{
  border-radius: 10px;
  width: 250px;
  margin-bottom: 15px;
  height: 25px;
}

.btnEntrar{
  border-radius: 10px;
  border: none;
  height: 25px;
  width: 60px;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
}

.lblEntrar{
  margin-top: 8px;
  display: block;
}

.lblRegistro{
  margin-top: 8px;
  display: block;
  margin-left: 35px;
}

.btnRegistrar{
  border-radius: 10px;
  border: none;
  height: 25px;
  width: 70px;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
}

.ul{
  list-style: none;
  padding: 0;
  left: 0;
  top:0;
}

li{
padding: 10px;
}

.liHome img{
  max-width: 20px;  
}

.liLancados img{
  max-width: 20px;
}

.liLancamentos img{
  max-width: 20px;
}

.liPerfil img{
  max-width: 20px;
}

.liLogout img{
  max-width: 20px;
}

.horizontal{
  width: 180px;
  border-color: black;
}

.apresentacao {
justify-content: center;
align-items: center;
display: flex;
background-color: lightslategrey;
max-width: 500px;
height: 500px;
margin-left: 500px;
margin-top: -240px;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.486);
}

.containerlanc{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 10px;
}

.txtDescricao{
  padding: 10px;
  width: 150px;
  border-radius: 5px;
} 

.txtValor{
  padding: 10px;
  width: 150px;
  border-radius: 5px;
} 

.txtVencimento{
  padding: 10px;
  width: 150px;
  border-radius: 5px;
}

.txtmeses{
  padding: 10px;
  width: 160px;
  border-radius: 5px;
}

.btnInsert{
  width: 184px;
  border-radius: 5px;
}

.trTopo{

  text-align: center;
}

.btnVoltar{
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.imgProfile{
  max-width: 30%;
  padding-left: 150px;
}

.divEmailUser{
  padding-bottom: 150px;
  z-index: 2;
  display: contents;
}

.divNewSenha{
  display: grid;
  padding: 10px;
}